
# Log Files
*.log
*.iml
app/build/
build/
.gradle/
local.properties
.idea/
*.apk
app/app.iml
my_fishing.iml

.idea/instapk.xml
instapk.log*
/keystore.properties
app/proguard-rules.pro
fishing.jks
keystore.properties
/fishing.jks
